body{
	background-color: #FFF;
}
.yunke-help{
	background-color: #FFF;
	margin-right: auto;
	margin-left: auto;
}
.yk-header {
	background-color: #e0e0d8;
	padding: 10px 30px;
}

.yk-header .page-title {
	font-weight: bold;
    margin: 0;
	font-size: 1.625em;
	line-height: 1.875em;
}

.riskNote{
	font-size: 16px;
	color: #a51b00;
}

.riskNote:before {
	background-image: url(../assets/warning.svg);
	content: "";
	background-size: 25px;
	background-position: 50% center;
	background-repeat: no-repeat;
	width: 30px;
	height: 25px;
	display: block;
	float: left;
	margin-right: 7px;
}

.yk-content{
	margin: 30px auto;
	max-width: 1200px;
	padding: 0 30px;
}
.yk-copyright{
	margin: 30px auto;
	max-width: 1200px;
	padding: 0 30px;
	text-align: center;
}
.copyright-item{
	margin-right: 10px;
	margin-left: 10px;	
}

.yk-content a,.yk-content a:visited{
	color: #0074bd;
	text-decoration: none;
}

.yk-content a:hover{
	text-decoration: underline;
}

.yk-table{
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 30px;
}

.yk-table__header{
	background-color: #f5f5f2;
	padding: 10px;
	margin: 0;
	overflow: hidden;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	color: #333;
}

.yk-table__note{
	font-size: 14px;
	color: #a51b00;
	font-weight: normal;
}

.yk-table__items{
	background: #fcfcfa;
	box-sizing: border-box;
	overflow-x: auto;
	display: flex;
	flex-wrap: wrap;
	overflow-x: hidden;
}

.yk-table__item{
	text-align: center;
	float:left;
	flex: 1;
	flex-basis: 50%;
	width: 50%;
	background: #fcfcfa;
	border-top: 1px solid #ccc;
	border-bottom: 0px;
	padding: 10px 10px;
	box-sizing: border-box;
	overflow-x: auto;
}

.yk-table__item svg{
	height: 26px !important;
	margin-bottom: -7px;
}

.yk-table__item:nth-child(2n){
	border-left: 1px solid #ccc;
}

.one-half{
	width:50%;
	margin-right: 0;
}

.one-three{
	width:33%;
	margin-right: 0;
	border-left: 1px solid #ccc;
	margin-left: -1px;
	flex-basis: 33%;
}

.one-fourth{
	width:25%;
	margin-right: 0;
	border-left: 1px solid #ccc;
	margin-left: -1px;
	flex-basis: 25%;
}




