{#
/**
 * @file
 * 显示yunke_help模块的插件相关操作页 
 * 在模板中可使用drupal默认提供的所有模板变量和函数、过滤器、标签
 *
 * yunke:该变量的值是传入本模板的整个渲染数组
 * - yunke.pluginManagerIds: 系统中所有插件管理器的服务id构成的数组
 *
 * @see yunke_help\templates\yunke-help-index.html.twig
 * 在正常情况下应该通过渲染数组来产生表单，但本模块并不希望被其他模块干扰 因此直接放置在模板中
 * 如需了解如何以渲染数组方式实现请见\Drupal\yunke_help\Form\PluginManager
 */
#}
{{ attach_library('yunke_help/removeFormSingleSubmit') }}
<form action="/yunke-help/plugin" method="post" enctype="multipart/form-data" name="plugin" target="_blank" class="yk-table__item">
    选择插件管理器ID：<select name="pluginManagerId">
        {% for pluginManagerId in yunke.pluginManagerIds %}
            <option value ="{{ pluginManagerId }}">{{ pluginManagerId }}</option>
        {% else %}
            故障！获取不到插件管理器id
        {% endfor %}

    </select>
    <input name="clearCache" class="button" type="submit" value="清理定义缓存" />
    <input name="showPlugins" class="button" type="submit" value="查看插件数据" />
</form>